body{
    background-color: black;
}

#title{
    width: 100%;
}

html > body{
    color: white;
}

#title{
    font: bold;
    font-size: 50px;
}

.form-control{
    height: 100px;
    margin-top: 20px;
    border-radius: 50px;
}